.container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 20px;
}

.icons {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.icon {
  opacity: 0.6;
}
